{% extends 'header.html' %}
{% load static %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end">
      <div class="col-md-9 ftco-animate pb-5">
       <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
       <h1 class="mb-0 bread">About Us</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
 <div class="container">
  <div class="row d-flex no-gutters">
   <div class="col-md-5 d-flex order-md-last">
    <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url({% static 'images/image_2.jpg' %});">
    </div>
  </div>
  <div class="col-md-7 pr-md-5 py-md-5">
    <div class="heading-section pt-md-5 mb-4">
     <span class="subheading">About us</span>
     <h2 class="mb-2">PREVENT THE CURABLE BLINDNESS</h2>
     <p>Halocare foundation is a non- profit organization started in 2020 by Dr. Anuj Chauhan and his young doctor team. Halocare foundation is committed to provide comprehensive, affordable/costless, and quality eye care services to the neediest and to make India a better nation with complete eye care for all citizens.</p>
        <p>Our foundation organizes outreach camps every week in rural and semi-urban areas to raise awareness, screen and treat eye defects and ailments. By offering extensive visual health services, we aim to offer the best possible treatment to all of the communities.</p>
     <p>We are planning to set up a free eye clinic for screening as well as a reference center for cataract surgery at grass root level or block level and also have one price clinic that will be affordable to everyone for eye care, medical care, contact glasses, lenses, medicines, and eye drops.</p>
     <p><a href="{% url 'contact' %}" class="btn btn-secondary">Become a Volunteer</a></p>
   </div>
 </div>
</div>
</div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
   <div class="row d-flex no-gutters">

   <div class="col-md-4 pr-md-4 py-md-4">
     <div class="heading-section pt-md-5 mb-4">
      <h2 class="mb-2">Our mission</h2>
      <p>Our mission is to fight against curable and preventable blindness in India. To reduce the number of visually impaired people in India by providing low-cost or no-cost eye care for the underprivileged through creative eye care models across the state.</p>
    </div>
  </div>
  <div class="col-md-4 pr-md-4 py-md-4">
    <div class="heading-section pt-md-5 mb-4">
     <h2 class="mb-2">Our aim</h2>
     <p>Our main aim is to raise more funds to assist more people in need of medical care. To reach out to more people to raise awareness about their eye health and prevent cataract-related blindness, we will create eye screening centers at the block level to reach more people.</p>
   </div>
 </div>
 <div class="col-md-4 pr-md-4 py-md-4">
  <div class="heading-section pt-md-5 mb-4">
   <h2 class="mb-2">Our vision</h2>
   <p>The idea and need of a Halocare foundation were born out of the necessity of providing vision to all sections of the rural and urban population who are unable to access any primary eye care. Our vision is focused on delivering the best possible care for our patients. </p>
 </div>
</div>
 </div>
 </div>
 </section>

<section class="ftco-section">
 <div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col-md-7 heading-section text-center ftco-animate">
     <span class="subheading">Our Services</span>
     <h2>We Believe that We Can Save More Lifes with You</h2>
   </div>
 </div>
 <div class="row">
  <div class="col-md-3 services-2 w-100 text-center">
   <div class="text">
    <h4>Free eye drops and contact glasses</h4>
    <p>Free eye drops and contact glasses to the needy at our eye camps. We offer premium glasses and medicine at affordable prices. </p>
  </div>
</div>
<div class="col-md-3 services-2 w-100 text-center">
 <div class="text">
  <h4>Eye Camps</h4>
  <p>We conduct free eye camps every week at one village. We Will cover one village in one week to screen everyone needy.</p>
</div>
</div>
<div class="col-md-3 services-2 w-100 text-center">

 <div class="text">
  <h4>Medicines</h4>
  <p>	We are distributing free medicines, masks and sanitizer to the needful at the grassroot level as well as we are sanitizing the villages during COVID-19 pandemic. </p>
</div>
</div>
<div class="col-md-3 services-2 w-100 text-center">

 <div class="text">
  <h4>Free cataract surgery and check-ups </h4>
  <p>We provide free cataract surgery at top-notch charitable hospital in Delhi NCR. We provide free check-ups after cataract surgery and eye drops at low prices till the patient's recovery. </p>
</div>
</div>
</div>
</div>
</section>

<section class="ftco-counter" id="section-counter">
 <div class="container">
  <div class="row">
   <div class="col-md-3 mb-5 mb-md-0 text-center text-md-left">
    <h2 class="font-weight-bold" style="color: #fff; font-size: 22px;">We're on a mission to help all your problems</h2>
    <a href="{% url 'contact' %}" class="btn btn-white btn-outline-white">Donate Now</a>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="88984">0</strong>
          </div>
          <div class="text">
           <span>Donation Campaigns are running</span>
         </div>
       </div>
     </div>
     <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
      <div class="block-18 text-center">
        <div class="text">
          <strong class="number" data-number="65000">0</strong>
        </div>
        <div class="text">
         <span>Professional and kind volunteers</span>
       </div>
     </div>
   </div>
   <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
    <div class="block-18 text-center">
      <div class="text">
        <strong class="number" data-number="77000">0</strong>
      </div>
      <div class="text">
       <span>Funds we raised till now on site</span>
     </div>
   </div>
 </div>
 <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
  <div class="block-18 text-center">
    <div class="text">
      <strong class="number" data-number="50">0</strong>
    </div>
    <div class="text">
     <span>Dedicated Donors</span>
   </div>
 </div>
</div>
</div>
</div>
</div>
</div>
</section>
<!--
<section class="ftco-section testimony-section">
 <div class="overlay"></div>
 <div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
     <span class="subheading">Testimony</span>
     <h2>Happy Clients &amp; Feedbacks</h2>
   </div>
 </div>
 <div class="row ftco-animate">
  <div class="col-md-12">
    <div class="carousel-testimony owl-carousel">
     <div class="item">
      <div class="testimony-wrap d-flex">
        <div class="user-img" style="background-image: url(images/person_1.jpg)">
        </div>
        <div class="text pl-4">
         <span class="quote d-flex align-items-center justify-content-center">
          <i class="fa fa-quote-left"></i>
        </span>
        <p class="rate">
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
       </p>
       <p>Far far away, behind the word mountains, far from the countries Vokalia</p>
       <p class="name">Racky Henderson</p>
       <span class="position">Father</span>
     </div>
   </div>
 </div>
 <div class="item">
  <div class="testimony-wrap d-flex">
    <div class="user-img" style="background-image: url(images/person_2.jpg)">
    </div>
    <div class="text pl-4">
     <span class="quote d-flex align-items-center justify-content-center">
      <i class="fa fa-quote-left"></i>
    </span>
    <p class="rate">
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
   </p>
   <p>Far far away, behind the word mountains, far from the countries Vokalia</p>
   <p class="name">Henry Dee</p>
   <span class="position">Businesswoman</span>
 </div>
</div>
</div>
<div class="item">
  <div class="testimony-wrap d-flex">
    <div class="user-img" style="background-image: url(images/person_3.jpg)">
    </div>
    <div class="text pl-4">
     <span class="quote d-flex align-items-center justify-content-center">
      <i class="fa fa-quote-left"></i>
    </span>
    <p class="rate">
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
   </p>
   <p>Far far away, behind the word mountains, far from the countries Vokalia</p>
   <p class="name">Mark Huff</p>
   <span class="position">Businesswoman</span>
 </div>
</div>
</div>
<div class="item">
  <div class="testimony-wrap d-flex">
    <div class="user-img" style="background-image: url(images/person_4.jpg)">
    </div>
    <div class="text pl-4">
     <span class="quote d-flex align-items-center justify-content-center">
      <i class="fa fa-quote-left"></i>
    </span>
    <p class="rate">
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
   </p>
   <p>Far far away, behind the word mountains, far from the countries Vokalia</p>
   <p class="name">Benjie Busk Jr.</p>
   <span class="position">Businesswoman</span>
 </div>
</div>
</div>
<div class="item">
  <div class="testimony-wrap d-flex">
    <div class="user-img" style="background-image: url(images/person_1.jpg)">
    </div>
    <div class="text pl-4">
     <span class="quote d-flex align-items-center justify-content-center">
      <i class="fa fa-quote-left"></i>
    </span>
    <p class="rate">
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
     <span class="fa fa-star"></span>
   </p>
   <p>Far far away, behind the word mountains, far from the countries Vokalia</p>
   <p class="name">Ken Bosh</p>
   <span class="position">Businesswoman</span>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section> -->



{% endblock %}